<div id="<?$_name?>" class="row doc-navigation">
    <div class="col span_3">
        <h6>Overview</h6>
        <ul>
            <li><a href="/public/doc/overview/why-use">Why Use Agile Toolkit?</a></li>
            <li><a href="/public/doc/overview/design">Framework Design Goals</a></li>
            <li><a href="/public/doc/overview/mvc">MVC in Web User Interface</a></li>
            <li><a href="/public/doc/overview/application">Anatomy of an Application</a></li>
        </ul>
        <h6>Installation</h6>
        <ul>
            <li><a href="/public/doc/installation/quick-start">Quick Start</a></li>
            <li><a href="/public/doc/installation/directory-structure">Directory Structure</a></li>
            <li><a href="/public/doc/installation/manual-installation">Manual Installation</a></li>
        </ul>
        <h6>Agile Toolkit Extensions</h6>
        <ul>
            <li><a href="/public/doc/">Downloadable Themes</a></li>
            <li><a href="/public/doc/">Add-on Marketplace</a></li>
            <li><a href="/doc/">Application Classes</a></li>
            <li><a href="/public/doc/">Composer/Packagist.org</a></li>
        </ul>
    </div>
    <div class="col span_3">
        <h6>Core Features of All Objects</h6>
        <ul>
            <li><a href="/public/doc/core/working-with-objects">Working with Objects</a></li>
            <li><a href="/public/doc/core/event-hooks">Working with Objects</a></li>
            <li><a href="/public/doc/core/namespaces">Namespaces and Add-ons</a></li>
            <li><a href="/public/doc/core">Pathfinder - Resource Manager</a></li>
        </ul>
        <h6>Application Class Features</h6>
        <ul>
            <li><a href="/public/doc/core/apis">Application Class Overview</a></li>
            <li><a href="/public/doc/core/routing">Pages - Request Routing</a></li>
            <li><a href="#">Configuration File Use</a></li>
            <li><a href="#">Database Connectivity</a></li>
            <li><a href="#">User Authentication</a></li>
            <li><a href="/public/doc/core/exception-handling">Exception Handling</a></li>
            <li><a href="#">Unit and UI Tests</a></li>
        </ul>
        <h6>Introduction to Controllers</h6>
        <ul>
            <li><a href="#">Introdtion to Controllers</a></li>
        </ul>
    </div>
    <div class="col span_3">
        <h6>Non-relational model</h6>
        <ul>
            <li><a href="#">Introduction to Model</a></li>
            <li><a href="#">Model Data-Sources</a></li>
            <li><a href="#">Field Properties</a></li>
            <li><a href="#">Model Hooks</a></li>
            <li><a href="#">Conditions and Traversing</a></li>
        </ul>
        <h6>Object Relational Mapper</h6>
        <ul>
            <li><a href="#">Dynamic SQL (DSQL)</a></li>
            <li><a href="#">Relational Models</a></li>
            <li><a href="#">Expressions and Conditions</a></li>
            <li><a href="#">Joins and Traversing</a></li>
            <li><a href="#">Efficiency Guidelines</a></li>
            <li><a href="#">Database Patterns</a></li>
            <li><a href="#">Filestore Add-on</a></li>
        </ul>
    </div>
    <div class="col span_3">
        <h6>User Interface</h6>
        <ul>
            <li><a href="#">Introduction to Views</a></li>
            <li><a href="#">SMLite - Template Engine</a></li>
            <li><a href="#">Object Tree and Rendering</a></li>
            <li><a href="#">Lister, Menu and Grid</a></li>
            <li><a href="#">Form, Filter, QuickSearch</a></li>
            <li><a href="#">Composite Views, CRUD</a></li>
        </ul>
        <h6>Non-PHP Components</h6>
        <ul>
            <li><a href="#">CSS / LESS Framework</a></li>
            <li><a href="#">atk4 JS core and univ.js</a></li>
            <li><a href="#">jQuery UI widgets</a></li>
            <li><a href="#">SQL Migration Scripts</a></li>
        </ul>
        <h6>Further Learning</h6>
        <ul>
            <li><a href="#">What should you read next?</a></li>
        </ul>
    </div>
</div>
