<section class="hero atk-swatch-green">
	<div class="atk-wrapper">
		<div class="row">
			<div class="span_9 col">
				<div class="atk-push">
					<h2>Agile Toolkit is a simple PHP framework for developing rich Web User Interface.</h2>
					<h3>Sleek, intuitive, and powerful front-end framework for faster and easier web development.</h3>
				</div>
				<div class="atk-actions atk-size-mega">
					<a href="#" class="atk-button atk-swatch-yellow">Download Agile Toolkit 4.3</a>
				</div>			
			</div>
			<div class="span_3 col">
				<a href="#" class="fake-video">
					<span class="thumbnail atk-shape-rounded">
						<span class="icon-play-circled atk-size-peta"></span>
					</span>
					See it in action
				</a>
			</div>
		</div>
	</div>
</section>
<section class="atk-section atk-align-center atk-swatch-ink key-features">
<div class="atk-wrapper">
	<div class="row">
		<div class="span_4 col">
			<span class="icon-brush atk-size-exa atk-swatch-blue atk-shape-circle"></span>
			<h3>UI Design</h3>
			<p>Agile Toolkit comes with a powerful HTML-based, templates and many UI widgets you can use such as Forms, Buttons, Sliders, Menus as a standard.</p>
		</div>
		<div class="span_4 col">
			<span class="icon-magnet-1 atk-size-exa atk-swatch-blue atk-shape-circle"></span>
			<h3>Community Hub</h3>
			<p>While we all work on our own web apps, Agile Toolkit connects us together in a global way letting us share resources, knowledge and help.</p>	
		</div>
		<div class="span_4 col">
			<span class="icon-heart atk-size-exa atk-swatch-blue atk-shape-circle"></span>
			<h3>Easy to Learn</h3>
			<p>A powerful framework that is easy to learn. We work hard to make sure Agile Toolkit could become your first programming environment.</p>
		</div>
	</div>
</div>
</section>
<section class="atk-section atk-wrapper">
	<div class="row">
		<div class="span_7 col">
			<h3 class="underline">Blog</h3>
			<div class="atk-cells atk-cells-gutter atk-push">
				<div class="atk-cell atk-valign-middle">
					<h4><a href="#">Hyperlink to my article Hyperlink to my article Hyperlink to my article </a></h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna...</p>
				</div>
				<div class="atk-cell atk-valign-middle">
					<a href="#" class="blog-image atk-size-giga">&lt;img/&gt;</a>
				</div>
			</div>
			<div class="atk-cells atk-cells-gutter atk-push">
				<div class="atk-cell atk-valign-middle">
					<h4><a href="#">Hyperlink to my article Hyperlink to my article Hyperlink to my article </a></h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna...</p>
				</div>
				<div class="atk-cell atk-valign-middle">
					<a href="#" class="blog-image atk-size-giga">&lt;img/&gt;</a>
				</div>
			</div>
			<div class="atk-cells atk-cells-gutter atk-push">
				<div class="atk-cell atk-valign-middle">
					<h4><a href="#">Hyperlink to my article Hyperlink to my article Hyperlink to my article </a></h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna...</p>
				</div>
				<div class="atk-cell atk-valign-middle">
					<a href="#" class="blog-image atk-size-giga">&lt;img/&gt;</a>
				</div>
			</div>
			<a href="#">More from the blog <span class="icon-right-open-mini"></span></a>
		</div>
		<div class="span_5 col">
			<h3 class="underline">Community</h3>
			<div class="atk-list">
				<div class="atk-cells atk-cells-gutter-small atk-push-small">
					<div class="atk-cell"><span class="icon-heart atk-size-giga atk-move-left atk-swatch-green"></span></div>
					<div class="atk-cell"><a href="#">Umar Kazi</a> commented on <a href="#">“Agile Toolkit” super book</a> <time class="atk-size-nano atk-text-dimmed">12 Days Ago</time></div>
				</div>
				<div class="atk-cells atk-cells-gutter-small atk-push-small">
					<div class="atk-cell"><span class="icon-heart atk-size-giga atk-move-left atk-swatch-green"></span></div>
					<div class="atk-cell"><a href="#">Umar Kazi</a> commented on <a href="#">“Agile Toolkit” super book</a> <time class="atk-size-nano atk-text-dimmed">12 Days Ago</time></div>
				</div>
				<div class="atk-cells atk-cells-gutter-small atk-push-small">
					<div class="atk-cell"><span class="icon-heart atk-size-giga atk-move-left atk-swatch-green"></span></div>
					<div class="atk-cell"><a href="#">Umar Kazi</a> commented on <a href="#">“Agile Toolkit” super book</a> <time class="atk-size-nano atk-text-dimmed">12 Days Ago</time></div>
				</div>
				<div class="atk-cells atk-cells-gutter-small atk-push-small">
					<div class="atk-cell"><span class="icon-heart atk-size-giga atk-move-left atk-swatch-green"></span></div>
					<div class="atk-cell"><a href="#">Umar Kazi</a> commented on <a href="#">“Agile Toolkit” super book</a> <time class="atk-size-nano atk-text-dimmed">12 Days Ago</time></div>
				</div>
				<div class="atk-cells atk-cells-gutter-small atk-push-small">
					<div class="atk-cell"><span class="icon-heart atk-size-giga atk-move-left atk-swatch-green"></span></div>
					<div class="atk-cell"><a href="#">Umar Kazi</a> commented on <a href="#">“Agile Toolkit” super book</a> <time class="atk-size-nano atk-text-dimmed">12 Days Ago</time></div>
				</div>
				<div class="atk-cells atk-cells-gutter-small atk-push-small">
					<div class="atk-cell"><span class="icon-heart atk-size-giga atk-move-left atk-swatch-green"></span></div>
					<div class="atk-cell"><a href="#">Umar Kazi</a> commented on <a href="#">“Agile Toolkit” super book</a> <time class="atk-size-nano atk-text-dimmed">12 Days Ago</time></div>
				</div>
				<div class="atk-cells atk-cells-gutter-small atk-push-small">
					<div class="atk-cell"><span class="icon-heart atk-size-giga atk-move-left atk-swatch-green"></span></div>
					<div class="atk-cell"><a href="#">Umar Kazi</a> commented on <a href="#">“Agile Toolkit” super book</a> <time class="atk-size-nano atk-text-dimmed">12 Days Ago</time></div>
				</div>
				<div class="atk-cells atk-cells-gutter-small atk-push-small">
					<div class="atk-cell"><span class="icon-heart atk-size-giga atk-move-left atk-swatch-green"></span></div>
					<div class="atk-cell"><a href="#">Umar Kazi</a> commented on <a href="#">“Agile Toolkit” super book</a> <time class="atk-size-nano atk-text-dimmed">12 Days Ago</time></div>
				</div>
			</div>
		</div>
	</div>
</section>
