<section class="hero atk-swatch-4">
	<div class="atk-wrapper row">
		<div class="span_9 col">
			<div class="atk-push">
				<h2>Agile Toolkit is a PHP framework for developing Web Apps.</h2>
				<h3>Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</h3>
			</div>
			<div class="atk-actions atk-size-mega">
				<a href="#" class="atk-button atk-swatch-3">Download Agile Toolkit 4.3</a>
			</div>			
		</div>
		<div class="span_3 col">
			<a href="#" class="fake-video">
				<span class="thumbnail atk-shape-rounded">
					<span class="icon-play-circled atk-size-peta"></span>
				</span>
				See it in action
			</a>
		</div>
	</div>
</section>
<section class="atk-section atk-swatch-2 key-features">
	<div class="row atk-wrapper">
		<div class="span_4 col">
			<span class="icon-brush atk-size-exa"></span>
			<h3>UI Design</h3>
			<p>Maecenas venenatis ante in tortor condimentum, fringilla blandit nibh cursus. Integer tincidunt augue neque, non feugiat massa condimentum at. Vivamus varius varius ornare.</p>
		</div>
		<div class="span_4 col">
			<span class="icon-magnet-1 atk-size-exa"></span>
			<h3>Community</h3>
			<p>Maecenas venenatis ante in tortor condimentum, fringilla blandit nibh cursus. Integer tincidunt augue neque, non feugiat massa condimentum at. Vivamus varius varius ornare.</p>	
		</div>
		<div class="span_3 col">
			<span class="icon-network atk-size-exa"></span>
			<h3>Features</h3>
			<p>Maecenas venenatis ante in tortor condimentum, fringilla blandit nibh cursus. Integer tincidunt augue neque, non feugiat massa condimentum at. Vivamus varius varius ornare.</p>
		</div>
	</div>
</section>
<section class="atk-section atk-swatch-1">
	<div class="row atk-wrapper">
		<div class="span_6 col">
			<h3>From the <a href="#">Blog</a></h3>
			<h4><a href="#">Hyperlink to my article</a></h4>
			<p>Maecenas venenatis ante in tortor condimentum, fringilla blandit nibh cursus. Integer tincidunt augue neque, non feugiat massa condimentum at. Vivamus varius varius ornare. Phasellus ut nunc arcu. Pellentesque pulvinar massa libero, nec pellentesque felis rutrum ut. Mauris consequat sollicitudin neque, eget imperdiet lectus auctor vel.</p>
			<h4><a href="#">Hyperlink to my article</a></h4>
			<p>Maecenas venenatis ante in tortor condimentum, fringilla blandit nibh cursus. Integer tincidunt augue neque, non feugiat massa condimentum at. Vivamus varius varius ornare. Phasellus ut nunc arcu. Pellentesque pulvinar massa libero, nec pellentesque felis rutrum ut. Mauris consequat sollicitudin neque, eget imperdiet lectus auctor vel.</p>
			<h4><a href="#">Hyperlink to my article</a></h4>
			<p>Maecenas venenatis ante in tortor condimentum, fringilla blandit nibh cursus. Integer tincidunt augue neque, non feugiat massa condimentum at. Vivamus varius varius ornare. Phasellus ut nunc arcu. Pellentesque pulvinar massa libero, nec pellentesque felis rutrum ut. Mauris consequat sollicitudin neque, eget imperdiet lectus auctor vel.</p>
		</div>
		<div class="span_6 col">
			<h3>Community Stream</h3>
			<div class="atk-list">
				<div class="atk-list-item">
					John Smith commented on <a href="#">Article</a>. 25 minutes ago.
				</div>
			</div>
		</div>
	</div>
</section>
