<div id="<?$_name?>" class="row">
    <div class="span4">
        <?$Content?>

        <div class="hr"></div>
        <h4>or login using</h4>
        <div class="row" style="text-align: center">
            <div class="span3">
                <a href="<?page?>auth/github<?/?>"><span class="icon-24-github"></span></a>
            </div>
            <div class="span3">
                <a href="<?page?>auth/github<?/?>"><span class="icon-24-facebook"></span></a>
            </div>
            <div class="span3">
                <a href="<?page?>auth/github<?/?>"><span class="icon-24-twitter"></span></a>
            </div>
            <div class="span3">
                <a href="<?page?>auth/github<?/?>"><span class="icon-24-google"></span></a>
            </div>
        </div>




    </div>
    <div class="span8">
        <h3>Why Signup?</h3>
        <p>Agile Toolkit is both a <b>software</b> and a <b>collection of web services</b>,
        everything to help you get your project done faster. The toolkit you download
        and build your application on can take advantage of <b>AgileToolkit.org</b>
        by tapping into wide-range of add-ons, offer you with code-sharing,
        registration, allows you promote your services and products.</p>

        <h4>Marketplace</h4>
        <p>The number one reason to be registered on AgileToolkit.org is it's
        growing marketplace. This is the place where free and commercial add-ons
        are shared and are sold. Marketplace is integrated into every Agile Toolkit
        installation out there, so consider publishing your code here.</p>

        <h4>Community</h4>
        <p>Here you can always find like-minded developers and be discovered by
        companies who are willing to hire, contract or consult ATK specialists. On-site
        forum, articles, cookbooks and interactive documentation will help you
        in exploring and learning agile toolkit.</p>

        <blockquote>
            <p>AgileToolkit.org community will always be free and registration is entirely optional.</p>
        </blockquote>
</div>
