// ==========================================================
// Import
// ==========================================================

@import '/css/agiletoolkit.less';
@import "../less/gridpak.less";
@import "../less/mixins.less";
@import "../less/variables.less";


// ==========================================================
// Variables
// ==========================================================

// @swatch1Darken:   #cfd9d4;
// @swatch1Lighten:  #eef6f2;
// @swatch2Darken:   #19252e;
// @swatch2Lighten:  #616a71;
// @swatch3Darken:   #ffd417;
// @swatch3Lighten:  #fff25f;
// @swatch4Darken:   #00cf67;
// @swatch4Lighten:  #4dee9d;
// @swatch5Darken:   #3796d9;
// @swatch5Lighten:  #78c2f6;


// ==========================================================
// Mixins
// ==========================================================

.haasRegular() {
	font-family: @bodyFamily;
	font-weight: normal;	
}
.haasMedium() {
	font-family: 'NHaasGroteskTXW01-65Md', 'Helvetica Neue', 'Helvetica', sans-serif;
	font-weight: normal;
}
.haasBold() {
	font-family: @headingFamily;
	font-weight: normal;
}


// ==========================================================
// Typography
// ==========================================================

h1, strong {
	.haasBold;
}
h3 {
	.haasMedium;
}
.underline {
	border-bottom: 1px solid @borderStatic;
	padding-bottom: @margin/4;
}


// ==========================================================
// Components
// ==========================================================
.blog-image {
	background: @atk-swatch-gray;
	display: block;
	height: 130px;
	line-height: 130px;
	text-align: center;
	width: 210px;
}


// ==========================================================
// AgileToolkit Adjustments
// ==========================================================

.atk-button {
	.haasMedium;
}


// ==========================================================
// Header
// ==========================================================

#header {
	a {
		.haasMedium
	}
}


// ==========================================================
// Page Front
// ==========================================================

#page-front {
	.atk-layout-row:first-child {
		height: 0;
	}
	#header {
		.position(@l:50%);
		background: none;
		margin-left: -@siteWidth/2;
	}
	.hero {
		background: @atk-swatch-green url(../images/bg-poly-green.jpg) no-repeat fixed;
		background-size: cover;
		padding: @margin*5 0 @margin*3 0;
		h3 {
			.haasRegular;
			margin-top: 0;
		}
		.fake-video {
			display: block;
			margin-top: @margin/2;
			text-align: center;
			.thumbnail {
				background-color: rgba(255,255,255,0.3);
				display: block;
				height: 140px;
				line-height: 1;
				margin-bottom: @margin/2;
				position: relative;
				text-align: center;
				.icon-play-circled {
					.position(@t:50%, @l:0);
					margin: -0.5em 0 0 0;
					text-align: center;
					width: 100%;
				}
			}
		}
	}
	.key-features {
		*[class*=icon] {
			color: @atk-swatch-ink;
			display: inline-block;
			line-height: 1.6em;
			height: 1.6em;
			text-align: center;
			width: 1.6em;
		}
	}
}
