<?Menu?>
<div class="atk-menu-bar atk-cells atk-swatch-1 atk-size-mega" id="atk-header">
    <div class="atk-cell">
        <a href="<?page?>/<?/?>" class="atk-logo atk-size-giga"><img
            src="<?public?>images/logo.png<?/?>" height="25"/>
        </a>
    </div>
    <div class="atk-cell">
        <ul class="atk-menu atk-menu-naked atk-menu-horizontal">

            <?rows?>
                <?row?>
                <li id="<?$id?>" class="<?$class?>"><a href="<?$href?>"><?label?>MenuItem<?/?></a></li>
                <?/row?>
            <?/?>

        </ul>
    </div>
    <div class="atk-cell">
        <div class="atk-media-block">
            <div class="atk-media atk-valign-middle">
                <img src="https://www.gravatar.com/avatar/0d9d336899c45015484dcd146f4fe883?s=64&d=identicon&r=PG" alt="Vadym" width="32" class="atk-shape-circle">
            </div>
            <div class="atk-content atk-valign-middle">Vadym<span class="icon-down-dir"></span></div>
        </div>
    </div>
    <?$Content?>
</div>
<?/?>

