<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title><?page_title?>Agile Toolkit - PHP UI Framework with jQuery<?/?></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:300' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" href="<?template?>images/favicon.ico<?/?>" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="<?template?>css/jquery-ui.css<?/?>" />
        <link rel="stylesheet" href="<?css?>normalize.css<?/?>">
        <link rel="stylesheet" href="<?css?>main.css<?/?>">
		<link rel="stylesheet" type="text/css" href="<?css?>atk-custom.css<?/?>" />
		<?$js_include?>
		<script type="text/javascript">
			$(function(){
				<?$document_ready?>
			});
		</script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div class="baseline"><a href="javascript:void(0)">Show Grid</a></div>
        <header class="global-header">
        	<div class="atk-wrapper atk-row">
        		<div class="span2">
					<?logo?><a href="<?page?>index<?/?>" class="logo"><img src="/agiletoolkit.org/public/images/logo.png" /></a><?/logo?>
        		</div>
        		<nav class="span10">
        			<ul>
						<li class="documentation hoverable">
							<a href="#">Documentation</a>
							<div class="flyout multi-column">
								<div class="column">
									<h6>Overview</h6>
									<ul>
                                        <li><a href="<?page?>/doc/overview/why-use<?/?>">Why Use Agile Toolkit?</a></li>
                                        <li><a href="<?page?>/doc/overview/design<?/?>">Framework Design Goals</a></li>
                                        <li><a href="<?page?>/doc/overview/mvc<?/?>">MVC in Web User Interface</a></li>
                                        <li><a href="<?page?>/doc/overview/application<?/?>">Anatomy of an Application</a></li>
									</ul>
									<h6>Installation</h6>
									<ul>
                                        <li><a href="<?page?>/doc/installation/quick-start<?/?>">Quick Start</a></li>
                                        <li><a href="<?page?>/doc/installation/directory-structure<?/?>">Directory Structure</a></li>
                                        <li><a href="<?page?>/doc/installation/manual-installation<?/?>">Manual Installation</a></li>
									</ul>
									<h6>Agile Toolkit Extensions</h6>
									<ul>
                                        <li><a href="<?page?>/doc/<?/?>">Downloadable Themes</a></li>
                                        <li><a href="<?page?>/doc/<?/?>">Add-on Marketplace</a></li>
                                        <li><a href="<?page?>/doc/<?/?>">Application Classes</a></li>
                                        <li><a href="<?page?>/doc/<?/?>">Composer/Packagist.org</a></li>
                                    </ul>
								</div>
								<div class="column">
									<h6>Core Features of All Objects</h6>
									<ul>
                                        <li><a href="<?page?>/doc/core/working-with-objects<?/?>">Working with Objects</a></li>
                                        <li><a href="<?page?>/doc/core/event-hooks<?/?>">Working with Objects</a></li>
                                        <li><a href="<?page?>/doc/core/namespaces<?/?>">Namespaces and Add-ons</a></li>
                                        <li><a href="<?page?>/doc/core<?/?>">Pathfinder - Resource Manager</a></li>
									</ul>
									<h6>Application Class Features</h6>
									<ul>
                                        <li><a href="<?page?>/doc/core/apis<?/?>">Application Class Overview</a></li>
                                        <li><a href="<?page?>/doc/core/routing<?/?>">Pages - Request Routing</a></li>
										<li><a href="#">Configuration File Use</a></li>
										<li><a href="#">Database Connectivity</a></li>
										<li><a href="#">User Authentication</a></li>
                                        <li><a href="<?page?>/doc/core/exception-handling<?/?>">Exception Handling</a></li>
										<li><a href="#">Unit and UI Tests</a></li>
									</ul>
									<h6>Introduction to Controllers</h6>
                                    <ul>
										<li><a href="#">Introdtion to Controllers</a></li>
									</ul>
								</div>
								<div class="column">
									<h6>Non-relational model</h6>
									<ul>
										<li><a href="#">Introduction to Model</a></li>
										<li><a href="#">Model Data-Sources</a></li>
										<li><a href="#">Field Properties</a></li>
										<li><a href="#">Model Hooks</a></li>
										<li><a href="#">Conditions and Traversing</a></li>
									</ul>
									<h6>Object Relational Mapper</h6>
									<ul>
										<li><a href="#">Dynamic SQL (DSQL)</a></li>
										<li><a href="#">Relational Models</a></li>
										<li><a href="#">Expressions and Conditions</a></li>
										<li><a href="#">Joins and Traversing</a></li>
										<li><a href="#">Efficiency Guidelines</a></li>
										<li><a href="#">Database Patterns</a></li>
										<li><a href="#">Filestore Add-on</a></li>
									</ul>
								</div>
								<div class="column">
									<h6>User Interface</h6>
									<ul>
										<li><a href="#">Introduction to Views</a></li>
										<li><a href="#">SMLite - Template Engine</a></li>
                                        <li><a href="#">Object Tree and Rendering</a></li>
										<li><a href="#">Lister, Menu and Grid</a></li>
										<li><a href="#">Form, Filter, QuickSearch</a></li>
										<li><a href="#">Composite Views, CRUD</a></li>
									</ul>
									<h6>Non-PHP Components</h6>
									<ul>
										<li><a href="#">CSS / LESS Framework</a></li>
										<li><a href="#">atk4 JS core and univ.js</a></li>
										<li><a href="#">jQuery UI widgets</a></li>
										<li><a href="#">SQL Migration Scripts</a></li>
									</ul>
									<h6>Further Learning</h6>
									<ul>
										<li><a href="#">What should you read next?</a></li>
									</ul>
								</div>
							</div>
						</li>
						<li><a href="#">Support</a></li>
						<li>
							<a href="#">Market</a>
							<div class="flyout">
								<ul>
									<li><a href="#">Test</a></li>
									<li><a href="#">Test</a></li>
									<li><a href="#">Test</a></li>
								</ul>
							</div>
						</li>
					</ul>
                    <?NavUser?>
                    <ul id="<?$_name?>" class="nav-user">
						<li class="login hoverable">
							<a href="#">Login</a>
							<div class="flyout">
                                <?Login?>
								<div class="atk-form stacked">
									<form>
								    	<fieldset>
											<div class="atk-form-row atk-row atk-form-row-line">
												<div class="atk-form-field"><input name="input-login" id="input-login" type="text" placeholder="Username"></div>
											</div>
											<div class="atk-form-row atk-row atk-form-row-line">
												<div class="atk-form-field"><input name="input-password" id="input-password" type="password" placeholder="Password"></div>
											</div>
										</fieldset>
										<div class="atk-buttons"><button>Login</button></div>
									</form>
								</div>
                                <?/?>
								<footer>
									<a href="#"><span class="icon-24-github"></span></a>
									<a href="#"><span class="icon-24-facebook"></span></a>
									<a href="#"><span class="icon-24-twitter"></span></a>
									<a href="#"><span class="icon-24-google"></span></a>
								</footer>
							</div>
						</li>
                        <li class="signup"><a href="<?page?>signup<?/?>">Sign Up</a></li>
					</ul>
                    <?/?>
					<div style="display:none;">
					<?Menu?>
				    <li class="ui-state-default"><a href="javascript:void(0)">Menu is not defined</a></li>
					<?/?>
					</div>
        		</nav>
        	</div>
        </header>
        <div class="global-content">
        	<div class="atk-wrapper">
				<?$Content?>
        	</div>
        </div>
        <?Footer?>
        <footer class="global-footer">
        	<div class="atk-wrapper">
				<?footer_text?>
				This system is implemented using <a href="http://agiletoolkit.org/">Agile Toolkit</a>. &copy; 1999–2012. <a href="http://agiletoolkit.org/about/license">See License</a>
				<?/?>
				<div id="atk-version"><b><?name?>Agile Toolkit™<?/?></b><br/><i><?$version?></i></div>
        	</div>
        </footer>
        <?/?>
		<div id="atk-growl-holder" class="atk-growl"></div>
	</body>
</html>
